
*{
   margin: 0px;
   padding: 0px;
   border: "border-box";
}
.parent{
    background-color: rgb(127, 7, 127);
    width: 500px;
    height: 500px;
    border-radius: 2px solid black;
    margin: 50px auto;
}

.child {
    background-color: brown;
    width: 460px;
    height: fit-content;
    margin: 0px auto;

}
button,h2{
    margin-top:20px
}
p{
    padding-top: 20px;
}

h1{   
    padding-left: 20px;
    padding-top: 20px;
}
